:root {
    --primary-color: #6505b6;
    --primary-hover-color: #480281;
    --primary-bg-light-color: #f9f1ff;
    --primary-white: #FFFFFF;
    --primary-white-dark: #efefef;
    --secondary-white-light: #e8f7f7;
    --secondary-white-dark: #f1f1f1;
    --primary-blue: #3c52e9;
    --primary-blue-light: #cce2ff;
    --primary-green-light: #7ad254;
    --primary-green-lightest: #6ac045;
    --primary-black: #000;
    --primary-black-light: #1d1d1d;
    --primary-black-lightest: #1c2131;
    --primary-gray: #717171;
    --primary-gray-light: #686868;
    --primary-gray-dark: #333;
    --primary-gray-lightest: #f1f2f3;
    --secondary-gray-dark: #646464;
    --secondary-gray-light: #fdfaff;
    --primary-yellow: #ffad21;
}